// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #000;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: white;
  color: rgba(255,0,0,0.6)


}

.date {
  font-family: MaisonNeueMono;
  background-color: #00DBC0;
  color: black;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 5px;
}
