.proj_card{
  color: rgb(0,0,0);
  width: 500px;
  height: 300px;
  background-image: url("projCard.jpg");
  border: solid;
  float: left;

}
  .proj_link {
    display:block;
    width:500px;
    height:300px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
  }

.pcar_container{
  width: 75%;
  height: auto;

}

#add_card{
  display: none;
}
