<% content_for :title do %>MF Projects<% end %>
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<script type='text/javascript'>


  $(function() {
    $('li').live('click', function(e){
      var widget = $(this).find('.widget');
      var url = widget.data('url');
      window.location = url;
    });
  });



</script>


<form id="add_card" action="/projects" style="display: none;" method="POST">
  <input type="text" name="proj_name" placeholder="Project Name"></input>
  <input type="text" name="proj_git" placeholder="Git Repository"></input>
  <input type="text" name="proj_tenk" placeholder="10Kft Client"></input>
  <input type="submit" href="/projects"></input>
</form>
<button id="formReveal">Add Card</button>
<div class="pcard_container">
  <% DATA.each do |ea_p| %>
    <div class="proj_card">
      <a href="/sampletv" class="proj_link"><%= ea_p %></a>
    </div>
  <%end%>
</div>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="git-issues" data-view="text" data-title="Open" data-text="114" data-moreinfo="more info" data-url="/sampletv"></div>
    </li>
  </ul>
</div>

<script>

document.getElementById('formReveal').addEventListener("click", function(){
 var i = document.getElementById("add_card");
 if(i.style.display == 'block' ) {
   i.style.display = 'none';
 } else if (i.style.display == 'none') {
   i.style.display = 'block'
  //-  i.childNodes[0]
 }  else {
   i.style.display = 'none';
 };
});

</script>
