<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<script type='text/javascript'>
    $(function() {
      Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":2},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":2}]')
    });
</script>

    <% git_token = ENV["GIT_TOKEN"] %>
    <% git_project = File.read('./assets/current_project.txt').gsub("\n",'') %>
    <% teamarr = []%>
    <% gitmembersJson = [] %>

    <% gitteams = "https://api.github.com/repos/mentallyfriendly/#{git_project}/teams?&access_token=#{git_token}"%>

    <% gitResponse1 = RestClient.get gitteams%>

  <!-- #formats it as a json -->
    <% gitteamsJson = JSON.parse(gitResponse1.body, symbolize_names: true) %>

  <!-- #an example of extracting data from the json -->
<% hashArr = [] %>
  <% gitteamsJson.each do |team| %>
<!-- #fetches the data from the api -->
        <% gitResponse2 = RestClient.get "https://api.github.com/teams/#{team[:id]}/members?&access_token=#{git_token}"%>
<!-- #formats it as a json -->
        <% gitmembersJson = JSON.parse(gitResponse2.body, symbolize_names: true) %>
        <% gitmembers = [] %>
        <% gitmembers << gitmembersJson %>

        <% gitmembersJson.each do |member| %>
        <% hash = {} %>
        <% hash.merge!(login: member[:login], avatar: member[:avatar_url]) %>
        <% hashArr << hash %>

        <% end %>
      <% end %>

      <div class="members">
      <% n = 0 %>
       <% until n == 10 || n == hashArr.length %>
       <img class="member_img" src="<%= hashArr[n][:avatar] %>"/>
       <h3 class="member_name"><%= hashArr[n][:login] %></h3>
       <% n = n + 1 %>
       <%end%>
        </div>
      <div class="members2">
      <% until n == 20 || n == hashArr.length %>
      <img class="member_img" src="<%= hashArr[n][:avatar] %>"/>
      <h3 class="member_name"><%= hashArr[n][:login] %></h3>
      <% n = n + 1 %>
      <%end%>
      </div>



<% content_for :title do %>1080p dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="title" data-view="Text" data-title="" data-ctitle=""></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="outcomes" data-view="CheckIn" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="git-issues" data-view="text" data-title="Open" data-text="114" data-moreinfo="more info"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="sprintgoals" data-view="List" data-unordered="true" data-title="Sprint Goals"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="open_iss" data-view="Text" data-issuetitle="Open"></div>
      <i class="fa fa-circle icon-background icons"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="closed_iss" data-view="Text" data-issuetitle="Closed"></div>
      <i class="fa fa-ban icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="burn" data-view ="LineChart" data-right-margin="10" data-bottom-margin="5"></div>
    </li>

  </ul>

</div>


<!-- <form action="/sampletv" method="POST">
  <input placeholder="Project" type="text" name="current_project"></input>
  <p><input class="submit" type="submit"></p>
</form> -->

<% current_project = File.read('./assets/current_project.txt').gsub("\n",'') %>

<form class="projectForm" action="/sampletv" method="POST">
  <input id="projectField" placeholder="Project" type="text" name="current_project"></input>

  <input class="psubmit" type="submit">
</form>

<form id="editButtonForm"method="get" action="/sprint_goals_edit">
    <button id="editButton" type="submit">Edit</button>
</form>


<script>
  var projy = document.getElementById('projectField');
  projy.addEventListener('change', function(){
      var val = projy.value;
      console.log(val);
    });

//////////

  function readTextFile(file)
  {
      var rawFile = new XMLHttpRequest();
      rawFile.open("GET", file, false);
      rawFile.onreadystatechange = function ()
      {
          if(rawFile.readyState === 4)
          {
              if(rawFile.status === 200 || rawFile.status == 0)
              {
                  var allText = rawFile.responseText;
                  alert(allText);
              }
          }
      }
      rawFile.send(null);
  };
  var read = readTextFile("file:///~/m_f_dash/assets/" + projy.value "_sprint_goals.txt");

  console.log(read)
  </script>
