<form action="/sample" method="POST">
  <input placeholder="Goal 1" type="text" name="goal1"></input>
  <input placeholder="Goal 2" type="text" name="goal2"></input>
  <input placeholder="Goal 3" type="text" name="goal3"></input>
  <input placeholder="Goal 4" type="text" name="goal4"></input>
  <input placeholder="Goal 5" type="text" name="goal5"></input>
  <input type="submit">
</form>
