// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #000;

$title-color:       rgba(0, 255, 0, 0.7);
$moreinfo-color:    rgba(0, 255, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;
  text-align: left;
  font-weight: lighter;
  color: rgba(0, 255, 0, 0.5);

.open {
  color: #69F090;
  font-size: 45px;
}

.closed {
  color: #FE7171;
  font-size: 45px;
}

.project-title {
  color: #00DBC0;
  font-size: 180px;
}

.issueno {
  font-family: MaisonNeueMono;
  font-size: 70px;
}

.project-sprint {
  font-family: MaisonNeueMono, sans-serif;
  font-size: 50px;
  color: white;
}
.updatedhide {
  display: none;;
}

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: white;
    opacity: 0.3;
  }


  &.large h3 {
    font-size: 65px;
    text-align: left;
  }
}
