// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #000;

$title-color:       rgba(0, 255, 0, 0.7);
$moreinfo-color:    rgba(0, 255, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;
  text-align: left;
  font-weight: lighter;
  color: rgba(0, 255, 0, 0.5);



  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
    text-align: left;
  }
}
