// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #000;
$value-color:       rgb(255,0,0);

$title-color:       rgba(100, 100, 255, 1);
// $label-color:       rgba(255,0,0,0.6);
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$label-color:       white;

@font-face { font-family: MaisonNeue; font-weight: bold; src: url('/MaisonNeue/MaisonNeue-Bold.ttf'); }
@font-face { font-family: MaisonNeueMedium; font-weight: medium; src: url('/MaisonNeue/MaisonNeue-Medium.ttf');}
@font-face { font-family: MaisonNeueMono; font-weight: medium; src: url('/MaisonNeue/maisonneuemono.ttf');}
@font-face { font-family: MaisonNeueMonoItalic; src: url('/MaisonNeue/maisonneuemonoitalic.ttf');}
// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  .sprintgoals {
    font-size: 50px;
    color: #00DBC0;
    padding-bottom: 40px;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
    padding: 10px;
  }

  .list-nostyle {
    list-style: none;
  }

.label {
    color: $label-color;
    font-size: 20px;
    font-family: MaisonNeueMono;
    margin-top: 15px;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: white;
    opacity: 0.3;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
